<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.remytabardel.henripotier">

    <!-- need storage for debug menu (export,..)-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Avoid AOT compilation if we're in development mode to speed up launches -->
    <application android:vmSafeMode="true" />

</manifest>